.contacts {
  margin-bottom: 40px;
}

.contacts__wrapper {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 36px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: @text-black;
}

.contacts__list {
  width: 260px;
  margin-bottom: 8px;

  line-height: 30px;

  border-collapse: collapse;
}

.contacts__type {
  padding: 0;
  padding-bottom: 29px;
  width: 77px;

  vertical-align: top;
}

.contacts__details {
  padding: 0;
  padding-bottom: 29px;
  width: 183px;

  letter-spacing: -0.1px;
}

.contacts__email {
  position: relative;
  padding: 0;
  display: block;

  color: @text-default-color;

  &:hover {
    color: @text-light-tiffany;
  }

  &:active {
    color: @text-light-tiffany;

    opacity: 0.3;
  }
}

.contacts__email::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;

  width: 98%;
  height: 1px;

  background-color: #62d1ba;
}

.contacts__email:active::after {
  display: none;
}

.contacts__map {
  min-height: 457px;
  margin-bottom: 36px;

  background-image: url("../img/map-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: 322px auto;
  }
}

.contacts__write {
  margin-right: 30px;
  margin-left: 30px;
}

@media (min-width: @tablet-width) {
  .contacts {
    margin-bottom: 56px;
  }

  .contacts__wrapper {
    margin: 0 auto;
    margin-top: 61px;
    width: 668px;
  }

  .contacts__title {
    margin-bottom: 48px;
    margin-left: -2px;

    font-size: @title-tablet-font-size;
    letter-spacing: -0.2px;
    line-height: 50px;
  }

  .contacts__list {
    width: 100%;
    margin-bottom: 28px;

    font-size: 17px;

    tbody {
      display: flex;
    }
  }

  .contacts__item {
    display: block;
    width: 50%;
  }

  .contacts__details {
    width: auto;
  }

  .contacts__map {
    width: 100%;
    margin-bottom: 51px;

    background-image: url("../img/map-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  .contacts__write {
    margin-right: auto;
    margin-left: auto;
    width: 226px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 104px;
    padding-left: 175px;
    width: 1050px - 175px;
  }

  .contacts__wrapper {
    margin: 0;
    padding-top: 69px;
    width: 350px;
  }

  .contacts__title {
    margin-left: -4px;

    font-size: @title-desktop-font-size;
    line-height: 57px;
    letter-spacing: -0.6px;
  }

  .contacts__list {
    width: 350px;

    tbody {
      flex-direction: column;
    }
  }

  .contacts__item {
    width: auto;
  }

  .contacts__map {
    margin-bottom: 0;
    width: 525px;
    height: 457px;

    background-image: url("../img/map-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
      background-size: 525px auto;
    }
  }

  .contacts__write {
    margin: 0;
    margin-top: -53px;
    margin-bottom: auto;
  }
}
