.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-height: 80px;
}

.copyright__text {
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
}

.copyright__link {
  border: none;
}
