.order-form {
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 55px;
}

.order-form__group {
  margin: 0;
  padding: 0;

  border: none;
}

.order-form__group-title {
  margin: 0;
  padding: 0;

  font-size: @bold-font-size;
  font-weight: 700;
  line-height: 16px;
  color: @text-light-tiffany;

  text-transform: uppercase;
}

.order-form__radio-title,
.order-form__checkbox-title,
.order-form__input-title {
  font-size: @bold-font-size;
  font-weight: 700;
  line-height: 18px;
  color: @text-black;
}

.order-form__input {
  margin: 0;
  padding: 0;

  font-size: @bold-font-size;
  line-height: 18px;

  border: none;

  &::placeholder {
    opacity: 0.3;
  }
}

.order-form__textarea {
  box-sizing: border-box;
  margin: 0;
  padding: 16px;
  width: 100%;
  min-height: 138px;

  font-size: @bold-font-size;
  line-height: 18px;

  border: 2px solid @border-dark-color;

  &::placeholder {
    opacity: 0.3;
  }
}

.order-form__comment {
  margin: 0;
  margin-top: 12px;
  margin-bottom: 30px;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
}

.order-form__submit {
  width: 100%;
}
