.page-main--catalog {
  margin-bottom: 58px;
}

.page-main__header {
  min-height: 488px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: @background-index-title-color;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center -19px;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  }
}

.page-main__title {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding-top: 70px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  width: 260px;

  font-size: @main-title-font-size;
  line-height: 30px;
  text-align: center;
  color: @text-black;
  word-wrap: break-word;
}

.page-main__title--catalog,
.page-main__title--form {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
  padding-top: 70px;
  padding-bottom: 76px;
  width: auto;

  background-color: @background-title-color;
}

.page-main__title--form {
  margin-bottom: 22px;
}

.page-main__text {
  margin: 0;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 24px;
  padding: 0;

  font-size: @small-font-size;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .page-main {
    margin-top: -60px;

    border-top: 1px solid #e7e7e7;
  }

  .page-main--catalog {
    margin-bottom: 64px;
  }

  .page-main__header {
    min-height: 742px;

    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: center;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  .page-main__title {
    width: 497px;
    padding-top: 154px;

    font-size: @title-tablet-font-size;
    line-height: 50px;
  }

  .page-main__title--catalog,
  .page-main__title--form {
    padding-left: 0;
    padding-right: 0;
    width: auto;
  }

  .page-main__title--catalog {
    position: relative;
    padding-top: 94px;
    padding-bottom: 82px;
    margin-bottom: 78px;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";

      width: 100%;
      height: 10px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: -6px 0;
      background-size: auto 23px;
    }
  }

  .page-main__title--form {
    position: relative;
    padding-top: 92px;
    padding-bottom: 82px;
    margin-bottom: 72px;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";

      width: 100%;
      height: 10px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: -6px 0;
      background-size: auto 23px;
    }
  }

  .page-main__title-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 90px;
    padding-left: 90px;
    width: 668px - 90px - 90px;
  }

  .page-main__text {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    width: 668px;

    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    margin-top: -59px;

    border-top: none;
  }

  .page-main__header {
    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: 1150px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .page-main--catalog {
    margin-bottom: 104px;
  }

  .page-main__title {
    width: 615px;

    font-size: @title-desktop-font-size;
    line-height: 57px;
  }

  .page-main__title--catalog,
  .page-main__title--form {
    padding-left: 0;
    padding-right: 0;
    width: auto;
  }

  .page-main__title--form {
    margin-bottom: 80px;
    padding-top: 94px;
    padding-bottom: 100px;

    &::after {
      height: 15px;

      background-position: 0 0;
      background-size: auto 34px;
    }
  }

  .page-main__title--catalog {
    margin-bottom: 130px;
    padding-top: 94px;
    padding-bottom: 100px;

    &::after {
      height: 15px;

      background-position: 0 0;
      background-size: auto 34px;
    }
  }

  .page-main__title-center {
    margin-right: auto;
    margin-left: auto;
    padding-right: 175px;
    padding-left: 175px;
    width: 1050px - 175px - 175px;
  }

  .page-main__text {
    width: 1050px - 175px - 175px;
    padding-left: 175px;
    padding-right: 175px;
    padding-top: 44px;
    padding-bottom: 0;
  }
}
