.promo-product {
  margin-top: 27px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 42px;
}

.promo-product__title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;

  font-size: @title-font-size;
  font-weight: 700;
  line-height: 30px;
  color: @text-black;
}

.promo-product__category {
  display: block;
  margin-top: 4px;

  font-size: @bold-font-size;
  font-weight: 700;
  line-height: 20px;
  color: @text-light-tiffany;
  text-transform: uppercase;
}

.promo-product__description {
  margin: 0;
  margin-bottom: 18px;

  line-height: 24px;
}

.promo-product__spec {
  width: 100%;
  margin-bottom: 28px;

  line-height: 20px;

  border-collapse: collapse;
}

.promo-product__spec-attribute {
  width: 38%;
  padding-top: 9px;
  padding-bottom: 10px;

  border-bottom: 1px solid @border-light-color;
}

.promo-product__spec-value {
  padding-top: 9px;
  padding-bottom: 10px;

  border-bottom: 1px solid @border-light-color;
}

.promo-product__picture {
  display: flex;
  justify-content: center;
}

.promo-product__price {
  padding-top: 25px;
  padding-bottom: 25px;

  font-size: @bold-font-size;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}
